---
import Header from "../components/Header.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import animationsUrl from "/scripts/animations.js?url";
---

<!doctype html>
<html lang="en" class="has-animated-background">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Noah ROGNON</title>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"
			defer></script>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
		<script src={animationsUrl} defer></script>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
